.main__btn-control {
  position: relative;
  justify-content: space-between;
  margin-top: 82px;

  .btn {
    flex: 1;
    padding: 14.5px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #F67599;
      border-radius: 8px;
      color: #fff;
    }

    &.disabled {
      cursor: auto;
    }
  }

  &::before {
    content: "";
    border-bottom: 1px solid #e6e6eb;
    position: absolute;
    left: 0;
    right: 0;
    top: -30%;
  }
}

@media screen and (min-width: 375px) {
  .main__btn-control {
    grid-column: 1/7;

    .btn:not(.d-none) {
      display: block;
      flex: 0 1 auto;
      margin: 2rem 0 120px 0;

      &:not(.d-none):nth-child(2) {
        width: 30%;
      }
    }
  }
}