:root {
  --main: #fff;
  --footer: #E5E5E5;
  --cart-bg: var(--main);
  --text-primary: #2a2a2a;
  --text-secondary: #808080;
  --btn-active: #333;
  --check-mark: url("../images/check_mark.svg");
  --hamburger: url("../images/mobile_menu.svg");
}