.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.df-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}